{% extends "to_do/base.html" %}
{% block page-title %} {{ task.task_title }} {% endblock %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'to_do/CSS/todo_detail.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
{% endblock %}
{% block content %}
<div class="block-content">
    <div class="items">
        <div class="item-block">
            <h4>Task</h4>
            <div class="item task-title"><p class="item-content">{{ task.task_title }}</p></div>
        </div>
        <div class="item-block">
            <h4>Task notes</h4>
            <div class="item task-notes">{% if task.task_text %}<p class="item-content">{{ task.task_text }}</p>{% else %}
            <p class="item-content no-content">There's no task notes</p> {% endif %}</div>
        </div>
        <div class="item-block">
            <h4>Reminder date</h4>
            <div class="item reminder-date"><p class="item-content">{{ task.reminder_date|default:"There is no reminder date" }}</p></div>
        </div>
        <div class="item-block">
            <h4>Completed</h4>
            <div class="item completed"><p class="item-content">{% if task.execution_status %} Yes✅ {% else %} No❌ {% endif %}</p></div>
        </div>
        <div class="item-block">
            <h4>Category</h4>
            <div class="item category"><p class="item-content">{{ task_category.name }}</p></div>
        </div>
    </div>
    <hr>
    <div class="detail-footer">
        <div class="detail edit-btn">
            <a class="btn btn-success btn-sm rounded-0" href="{% url 'to_do:to-do-edit' task.id %}" title="Edit"><i class="fa fa-edit"></i></a>
        </div>
        <p class="creation-date">Created on {{ task.created_at|date:"D, F j" }}</p>
        <div class="detail delete-btn">
            <button class="btn btn-danger btn-sm rounded-0 delete-task" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
        </div>

    </div>
    <div class="danger-msg">
            <p>Are you sure you want to delete task "{{ task }}" ?</p>
        <div class="buttons">
            <button class="btn btn-primary close-window">No</button>
            <form action="{% url 'to_do:to-do-delete' task.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary сonfirm-deletion">Yes</button>
            </form>
        </div>
    </div>

</div>
<script src="{% static 'to_do/JS/pop_up_delete_view.js' %}"></script>
{% endblock %}