.TasksToolBar {
    padding: 10px 10px;
}

/*.TasksToolBar-subline {*/

/*}*/
.TaskCreator {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

.hidden-fields {
    display: block;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.hidden-fields.hidden {
    display: none;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.dateCreator {
    width: 50%;
    display: inline-flex;
}

.reset-btn {
    margin-left: 1.5%;
    margin-right: 10px;
}

.block-content {
    width: 80%;
    margin: 10px auto;
    padding: 10px 10px 0 10px;
}

div.list-group-item {
    margin-bottom: 10px;
}

.DateTime {
    margin-left: 2.5%;
}

.addTask {
    margin-bottom: 5px;
}

.inline-date-input-and-button {
    display: inline-flex;
    width: 100%;
}
.submit-task {
    width: fit-content;
    margin-left: auto;
}

.textCreator {
    width: 50%;
}

.add-date-task {
    width: 48.5% !important;
}

.mini-container {
    width: 100%;
}

.sub-container {
    display: inline-flex;
    padding: 0.75%;
    width: 100%;
}

.checkbox {
    width: 1.9%;
    /*margin-left: 2%;*/
    left: 5%;
}

.task-info {
    width: 98.1%;
    margin-left: 1%;
    margin-right: 2%;
}

.title {
    width: fit-content;
}

.creation-date {
    width: fit-content;
    white-space: nowrap;
}

div.list-group-item {
    padding: 0.2%!important;
}

div.list-group-item:hover {
    -webkit-filter: brightness(95%);
}

.stretched-link::after {
    width: 96.6%;
    margin-left: auto;
}

.no-tasks-msg {
    text-align: center;
}

.task-card-header {
    width: 78.5%;
    margin: auto;
}

.separate-line {
    width: 78.5%;
    margin: auto;
}