<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page-title %}To Do{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'to_do/CSS/base-style.css' %}">
    {% block extra_head %}
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'to_do:category' %}">To Do</a>
    <div class="navbar-search">
      <form class="d-flex" method="get" action="{% url 'to_do:task-search' %}">
        <input class="form-control me-2" type="search" placeholder="Find a task" aria-label="Search" name="task_title" value="{{ request.GET.task_title }}">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
    <div class="item-container">
    <p>Hello, {{ user }}</p>
    <a class="logout-link btn btn-outline-warning btn-sm" href="{% url 'accounts:logout' %}">Logout</a>
    </div>
  </div>
</nav>

{% block content %}
<div class="page">
</div>
{% endblock %}
</body>
</html>