.TasksToolBar {
    padding: 10px 10px;
}

/*.TasksToolBar-subline {*/

/*}*/
.TaskCreator {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

.dateCreator {
    width: 50%;
    display: inline-flex;
}

.reset-btn {
    margin-left: 1.5%;
    margin-right: 10px;
}

.block-content {
    width: 80%;
    margin: 10px auto;
    border-radius: 8px;
    background-color: #efa502;
    padding: 10px 10px 0 10px;
}

li.list-group-item {
    margin-bottom: 10px;
}

.DateTime {
    margin-left: 2.5%;
}

.addTask {
    margin-bottom: 5px;
}

.inline-date-input-and-button {
    display: inline-flex;
    width: 100%;
}
.submit-task {
    width: fit-content;
    margin-left: auto;
}

.textCreator {
    width: 50%;
}

.add-date-task {
    width: 48.5% !important;
}
